# Archivos de configuración de Android Studio
*.iml
.idea/
.gradle/
local.properties
.DS_Store

# Archivos de compilación
/build/
.cxx/
.externalNativeBuild/
captures/
outputs/
intermediates/
release/
debug/

# Archivos generados
*.apk
*.ap_
*.log

# Ignora carpetas internas de Hilt y kapt
app/build/
app/generated/

# SECRETS
gradle.properties
app/src/main/res/values/strings.xml
app/google-services.json
.env
secrets.properties

!.gitignore